
EducateAPI.LoadGPTService/EducateAPI.LoadGPTService.Tests/obj/Debug/net7.0/EducateAPI.LoadGPTService.Tests.csproj.AssemblyReference.cache
/EducateAPI.LoadGPTService/EducateAPI.LoadGPTService.Tests/bin/Debug
*.cache
.env